@using Saxx.Storyblok
@model StoryblokComponent

@{
    Type concreteType = null;
    @foreach (var mapping in StoryblokMappings.Mappings)
    {
        if (Model.GetType() == mapping.Value.Type)
        {
            concreteType = mapping.Value.Type;
            break;
        }
    }
}

@if (concreteType != null)
{
    @Html.DisplayFor(x => Model, concreteType.Name)
}
else
{
    <div>I don't know how to render a component "@Model.Component". Make sure that is registered correctly.</div>
}