@model IEnumerable<Saxx.Storyblok.StoryblokStory>

<h1>These stories are available at the Storyblok workspace</h1>

<ul>
    @foreach (var story in Model)
    {
        <li><a href="@story.FullSlug">@story.Name</a> (Published at @story.PublishedAt)</li>
    }
</ul>