p {
    margin-bottom: 1em;
}

h1 {
    font-size: 200%;
    margin-bottom: .5em;
}

img.float-left {
    max-width: 25%;
    float: left;
    margin: .25em .5em .5em 0;
}

img.small {
    max-height: 3em;
}