
@using Saxx.Storyblok.Example.ViewModels.Shared
@inject HeaderViewModel HeaderViewModel

<header class="container">
    @foreach (var story in HeaderViewModel.StoriesForNavigation)
    {
        <text>
            <a href="/@story.FullSlug">@story.Title</a> |
        </text>
    }
    <a asp-action="Stories" asp-controller="Home">Overview of all stories</a>
</header>