@using Microsoft.AspNetCore.Routing
@using Saxx.Storyblok.Example.ViewModels.Shared
@inject HeaderViewModel HeaderViewModel
@inject LinkGenerator LinkGenerator 

<header class="container">
    @foreach (var story in HeaderViewModel.StoriesForNavigation)
    {
        <a href="@story.FullSlug">@story.Title</a>
    }
    
    <a href="@LinkGenerator.GetPathByAction("Stories", "Home")">Overview of all stories</a>
</header>